body {
	background-color: rgb(240 229 84);
	 }

h1 {
       color: white;
<<<<<<< HEAD
=======
	   margin-right: 450px;
>>>>>>> d1a9437 (Änderung im Design)
    }

h1 span {
	font-size: 50pt;
}
	
h1:hover {
	color: red;
}

h1:active {
	color: blue;
}
<<<<<<< HEAD
=======

div {
	display: flex;
	justify-content: flex-end;
}

h1 span {
	width: 500px;
}

.labelsStuff {
	display: block;
}
>>>>>>> d1a9437 (Änderung im Design)
