body{
    background-color: rgb(255, 73, 73);
    font-family: Arial;
    border-radius: 15px;
}

#div1{
    border-radius: 15px;
    background-color: rgb(104, 187, 255);
    border-style: groove;
    border-color: cadetblue;
    border: 2px solid black;
}

#div2{
    font-family: Arial;
    border-radius: 15px;
    background-color: rgb(255, 73, 73);
    border: 2px solid black;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:25px;
	width: 50%;
	}

h1 {
       background-color: green;
       color: white;
    }
h1:hover {
	color: red;
}

h1:active {
	color: blue;
}